<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
  <link rel="icon" href="/assets/dist/logo.ico" type="image/x-icon">
  <title>Cryptogame | Đăng ký tài khoản</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/assets/plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/assets/dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <a href="/"><b>Cryptogame</a>
  </div>
		<% if flash[:alert] %>
		<div class="alert alert-danger alert-dismissible">
		<%= flash[:alert] %>
		</div>
		<% end %>
	<% if flash[:notice] %>
	<div class="alert alert-success alert-dismissible">
    <%= flash[:notice] %>
  </div>
	<% end %>
  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg"><strong>Đăng ký tài khoản</strong></p>
    <%= form_with(url: register_path, method: :post, class: "register-form") do |form| %>
	
  <div class="input-group mb-3">
    <%= form.text_field :username, class: "form-control", placeholder: "Tên đăng nhập" %>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-user"></span>
      </div>
    </div>
  </div>
  <div class="input-group mb-3">
    <%= form.password_field :password, class: "form-control", placeholder: "Mật khẩu" %>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-lock"></span>
      </div>
    </div>
  </div>
  <div class="input-group mb-3">
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Nhập lại mật khẩu" %>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-lock"></span>
      </div>
    </div>
  </div>
  
   <div class="input-group mb-3">
		<%= form.select :wallet_type, ['VND'], { prompt: "Chọn loại ví" }, class: "form-control" %>
  </div>
  
  <div class="row">
    <!-- /.col -->
    <div class="col-4">
      <%= form.submit "Đăng ký", class: "btn btn-primary btn-block" %>
    </div>
    <!-- /.col -->
  </div>
  
  
<% end %>

      <a href="/login" class="text-center">Đã có tài khoản, chuyển sang đăng nhập !</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->

<!-- jQuery -->
<script src="/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/assets/dist/js/adminlte.min.js"></script>
</body>
</html>
